
<!-- <a class="btn btn-info" [routerLink]="['/Newproduct']">Add Product </a> -->
<div class="container my-4">
<table class="table">
    <thead>
        <th>No.</th>
        <th>Name</th>
        <th> Avilable Quntaity</th>
        <th>Price</th>
        <!-- <th>More (html)</th> -->
    </thead>
    <tbody>

        <!-- <tr *ngFor="let prd of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{prd.name}}</td>
            <td> {{prd.quantity}}</td>
            <td>{{prd.price}}</td> -->
            <!-- <td><a class="btn btn-info" [routerLink]="['/Apiproduct',prd.id]">More(html)</a></td> -->
        <!-- </tr> -->
        <tr *ngFor="let item of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td> {{item.quantity}}</td>
            <td>{{item.price}}</td>
        </tr>
    </tbody>
</table></div>