<div class="container-fluid px-0 py-4 mx-auto">
  <div class="row justify-content-center mx-auto">
      <div class="col-12 px-xs-0 col-md-11">
          <div class="card">
              <div class="row justify-content-center">
                  <!-- Left Side Content -->
                  <div class="col-md-8">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="box">
                                  <h4>Want to create something together?</h4> <a href="#">
                                      <p>Get in touch</p>
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="box">
                                  <p class="mb-0">Moll Helsinki office</p>
                                  <h5>Annankatu 12, 2krs.<br>FIN-00120 Helsinki</h5>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="box">
                                  <h4>Help us make cool things!</h4> <a href="#">
                                      <p>Check our open positions</p>
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-6 pb-5">
                              <div class="box">
                                  <p class="mb-0">Cześć! Warsaw office</p>
                                  <h5>Plac Bankowy 2<br>POL-00-095 Warsaw</h5>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div>
                          <!-- Right Side Content -->
                          <h4 class="form-head">Keep up with news from us</h4>
                          <form class="form-control">
                              <div class="form-group">
                                  <div class="col-12 get-input"> <input id="e-mail" type="text" placeholder="first.last@gmail.com" name="email" class="form-control input-box rm-border" onfocus="this.placeholder = ''" onblur="this.placeholder = 'first.last@gmail.com'"> </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-12 get-input">
                                      <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label consent">I give my consent that my personal information can be collected and used according to the <a href="#"><span>Privacy Policy</span></a></label> </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12 px-4 py-2 get-input pb-5 mb-5"> <button type="submit" class="btn btn-submit rm-border">YES PLEASE</button> </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div> <!-- Bottom Content -->
              <div class="row">
                  <div class="col-md-2">
                      <div class="row justify-content-center justify-content-md-start"> <img src="https://i.imgur.com/wTcBfAU.png" width="50px" height="50px"> </div>
                  </div>
                  <div class="col-md-7 d-flex justify-content-center mb-3">
                      <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">About</a> </div>
                      <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Work</a> </div>
                      <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Blog</a> </div>
                      <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Careers</a> </div>
                      <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Contact</a> </div>
                  </div>
                  <div class="col-md-3 justify-content-center d-flex"> <a href="#">
                          <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                              <div class="fa fa-facebook"></div>
                          </div>
                      </a> <a href="#">
                          <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                              <div class="fa fa-twitter"></div>
                          </div>
                      </a> <a href="#">
                          <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                              <div class="fa fa-instagram"></div>
                          </div>
                      </a> <a href="#">
                          <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                              <div class="fa fa-linkedin"></div>
                          </div>
                      </a> <a href="#">
                          <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                              <div class="fa fa-google-plus"></div>
                          </div>
                      </a> </div>
              </div>
          </div>
      </div>
  </div>
</div>