<!-- <div class="container">
    <div class="row">
      <div class="col-4">
        <h3>Product Name : {{ pInfo1.productName }}</h3>
  
        <img src="{{ pInfo1.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features1()">
          description
        </button>
        <ul *ngIf="discount1">
          <li *ngFor="let prod of pInfo1.products">{{ prod }}</li>
        </ul>
      </div>
  
      <div class="col-4">
        <h3>Product Name : {{ pInfo2.productName }}</h3>
  
        <img src="{{ pInfo2.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features2()">
            description
        </button>
        <ul *ngIf="discount2">
          <li *ngFor="let prod of pInfo2.products">{{ prod }}</li>
        </ul>
      </div>
  
      <div class="col-4">
        <h3>Product Name : {{ pInfo3.productName }}</h3>
  
        <img src="{{ pInfo3.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features3()">
            description
        </button>
        <ul *ngIf="discount3">
          <li *ngFor="let prod of pInfo3.products">{{ prod }}</li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Product Name : {{ pInfo4.productName }}</h3>
  
        <img src="{{ pInfo4.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features4()">
            description
        </button>
        <ul *ngIf="discount4">
          <li *ngFor="let prod of pInfo4.products">{{ prod }}</li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Product Name : {{ pInfo5.productName }}</h3>
  
        <img src="{{ pInfo5.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features5()">
            description
        </button>
        <ul *ngIf="discount5">
          <li *ngFor="let prod of pInfo5.products">{{ prod }}</li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Product Name : {{ pInfo6.productName }}</h3>
  
        <img src="{{ pInfo6.logo }}" alt="" />
        <br />
        <button class="btn btn-primary text-center" (click)="Features6()">
            description
        </button>
        <ul *ngIf="discount6">
          <li *ngFor="let prod of pInfo6.products">{{ prod }}</li>
        </ul>
      </div>
      
    </div>
  </div> -->